name: Action tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    - cron: '30 19 * * *'
  workflow_dispatch:

permissions: read-all

jobs:
  tests:
    name: Action tests
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-13
          - macos-14
          - macos-15
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Generate string with ANSI color escape sequences
        id: generate-colored-output
        run: |
          colored=$(printf '\e[0;31mCOLORED\e[0m')
          echo "colored=$colored" >> "$GITHUB_OUTPUT"
      - name: Assert ANSI color escape sequences present in input string
        run: |
          if [[ "${{ steps.generate-colored-output.outputs.colored }}" != $(printf '\e[0;31mCOLORED\e[0m') ]]; then
              echo "Test string should contain ANSI color escape sequences"
              exit 1
          fi
      - name: Remove ANSI color escape sequences
        uses: ./
        id: remove-ansi-colors
        with:
          colored: ${{ steps.generate-colored-output.outputs.colored }}
      - name: Assert ANSI color escape sequences removed from output string
        run: |
          if [[ "${{ steps.remove-ansi-colors.outputs.uncolored }}" != "COLORED" ]]; then
              echo "Output string should not contain ANSI color escape sequences"
              exit 1
          fi
